.terraform/
.terraform.lock.hcl.bak
*.tfstate
*.tfstate.*
*.tfvars
!example.tfvars
crash.log
crash.*.log
.terraformrc
terraform.rc
tfplan
*.tfplan
*.plan.json
.env
.env.*
!.env.example
*.pem
secrets/
